BODY {
 background-color: #FFFFFF;
 color: #000;
}

P, TD, H1, H2, H3, H4, H5 {
 color: #000;
 font-family: "Times New Roman", Times, serif;
}

TABLE {
 border: solid #333399;
 background: #ccccff;
 border-width: 4px;
 border-spacing: 0pt;
}

table.form {
 padding: 0px;
}

table.clear {
 border: none;
 background: #FFFFFF;
}

TD
{
 border: none;
 padding: 2pt;
}

th {
 background: #9999FF;
 color: #000000;
 font-weight: bold;
 padding-left: 6pt;
 padding-right: 6pt;
}

th.vert {
  text-align: left;
  vertical-align: top;
}

table.pagination {
 border: solid #000;
 background: #FFF;
}

td.pagination {
 border-color: #000;
 padding: 1em;
}

A {
 color: #000099;
 text-decoration:none;
 }

A:hover
{
  background-color: #eef;
}

div.tab_area {
 font-weight: bold;
}

a.tab, a.tab:visited {
 background: #9999FF;
 border: 1pt solid #333399;
 border-bottom: 0pt;
 padding: 2pt 1em 2pt 1em;
 margin-bottom: 0pt;
}

a.tab:hover{
 background: #cec8dc; 
}

.messages {
padding: .5em 1em .5em 1em;
border: 2pt dashed #f00;
}

.errortext
{
  color: #FFaaaa;
  color: #FF0000;
  font-weight: bold;
  margin: 12pt;
}

.instructionstext
{
  font-style: italic;
}

.anecdotetext
{
    font-size: 50%;
}

.indented
{
    margin-left: 3em;
}
